{{ define "wrappedErr" -}}
**Error en {{ .Command }}**
<details><summary>Mostrar salida</summary>

```
{{ .Error }}
```
{{- if ne .RenderedContext "" }}
{{ .RenderedContext }}
{{- end }}
</details>
{{ if ne .DiagnosticURL "" -}}

[Ver diagnóstico protegido]({{ .DiagnosticURL }})
{{ end -}}
{{ if .DiagnosticUnavailable -}}

El diagnóstico protegido no está disponible para esta ejecución.
{{ end -}}
{{ end -}}
