{{ define "wrappedErr" -}}
**{{ .Command }} Error**
<details><summary>Show Output</summary>

```
{{ .Error }}
```
{{- if ne .RenderedContext "" }}
{{ .RenderedContext }}
{{- end }}
</details>
{{ if ne .DiagnosticURL "" -}}

[View protected diagnostic]({{ .DiagnosticURL }})
{{ end -}}
{{ if .DiagnosticUnavailable -}}

Protected diagnostic unavailable for this run.
{{ end -}}
{{ end -}}
